.cabecalho{
background-color: #5e042e;
color: white;
display: flex;
justify-content: space-around;
}

.cabecalho-imagem{
    width: 20%; 
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    padding: 24px 0;
    font-size: 24px;
}
    
*  {
    margin: 0 16px;
    padding: 0;
  }

  .imagem-escola {
    width: 20%;
  }
   
  .escola {
    background-image: linear-gradient(#5e042e, #c555a4);
    color:white;
    display: flex;
    justify-content: center;
  }

  .escola-conteudo {
      width: 35%;
      justify-content: center;
      align-items: center;
  }

  body{
    font-family: 'Poppins', sans-serif;
  }

  .escola-titulo{
   text-align: center;
    padding: 30px 0;
    
  }

.estudante-icone{

    width: 24px;
  
  }

  .estudante-imagem{

    width: 30%;
  }

  .estudante-todos{

    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: center;
  }

  .estudante-div {
    text-align:center;
  }